$black:(
    "base": #050202,
    "lighter":#1b1919
);
$white:(
    "base",#F7F7FF,
    "darker",#E1E1E8
);
$azure:(
    "base",#008AF4,
    "secondary",#1794F5

);
$cyan:(
    "base":#0BBADE,
    "darker":#0AAACA

);